<div class="container-fluid pt-5 bg-info">
    <div class="row">
        <div class="col-md-4">
            <ul style="list-style: none;">
                <li>Home</li>
                <li>Create Blog</li>
                <li>About</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul style="list-style: none;">
                <li>Get the latest blogs</li>
                <li>Write blogs</li>
            </ul>
        </div>
        <div class='col-md-4'>
            <h6>Contacts</h6>
            <div style="list-style: none; display:inline-block">
                <a class="email-ic mr-3" role="button"><i class="far fa-lg fa-envelope"></i></a>
                <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                <a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
                <a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
                <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        Copyright &copy; 2020
    </div>
</div>