{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2>Quote of the day...</h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{quote_item.quote}}</p>
                            <footer class="blockquote-footer"><cite>{{quote_item.author}}</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-lg- col-md-6 mx- tex-center">
                {% for blog in blog_items %}
                <div class="post-preview text-center">
                    <a href="{{ url_for('main.post', blog_id=blog.id)}}">
                        <h2 class="post-title">
                            {{blog.title}}
                        </h2>
                    </a>
                    <p class="post-meta">Posted by {{blog.user.username}} on {{blog.date.strftime('%B %d, %Y')}}</p>
                </div>
                <hr>
                {% endfor %}
                <hr>
    
            </div>
            <div class="col-md-3">
                <div class="w-50">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="form-group">
                            <input type="email" form-control name="email" style="border-radius:10px;"
                                placeholder="Enter email..." required>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="subscribe" form-control class="bg-danger text-light"
                                style="border-radius:10px;">
                        </div>
    
                    </form>
                </div>
    
    
            </div>
        </div>
    </div>
{% endblock %}