{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}



{% block content %}
    <div class="overlay d-flex align-items-center justify-content-center text-center pb-5" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../static/images/pexels-negative-space-34658.jpg);height:90vh;background-position:center;background-size:cover">
        <div class="text-white">
            <h1>Welcome to Blog App</h1>
            <p>Where we value creativity</p>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row pb-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2>Quote of the day...</h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{quote_item.quote}}</p>
                            <footer class="blockquote-footer"><cite>{{quote_item.author}}</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-lg- col-md-6 mx- tex-center">
                <h1 class="text-center pb-5">Blogs</h1>
                {% for blog in blog_items %}
                <div class="post-preview text-center">
                    <a href="{{ url_for('main.post', blog_id=blog.id)}}">
                        <h3 class="post-title">
                            {{blog.title}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{blog.user.username}} on {{blog.date.strftime('%B %d, %Y')}}</p>
                </div>
                <hr>
                {% endfor %}
                <hr>
    
            </div>
            <div class="col-md-3">
                <div class="w-50">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="form-group">
                            <input type="email" form-control name="email" style="border-radius:10px;"
                                placeholder="Enter email..." required>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="subscribe" form-control class="bg-danger text-light"
                                style="border-radius:10px;">
                        </div>
    
                    </form>
                </div>
    
    
            </div>
        </div>
    </div>
{% endblock %}