{% extends 'base.html' %}

{% block content %}

    <section class="masthead">
        <div class="overlay d-flex justify-content-center align-items-center" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../static/images/pexels-freestocksorg-839465.jpg);height:90vh;background-position:center;background-size:cover;">
            <div class="text-white">
                <h1>{{blog_item.title}}</h1>
                <span>posted by  {{blog_item.user.username}}</span>
            </div>
        </div>
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        
                        <span class="meta">Posted  on {{blog_item.date.strftime('%B %d, %Y')}}</span>
                        {% if blog_item.user == current_user %}
                        <div>
    
                            <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                href="{{ url_for('main.update_post', blog_id=blog_item.id) }}">Update</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                                data-target="#deleteModal">Delete</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this Post?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{{ url_for('main.delete_post', blog_id=blog_item.id) }}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{blog_item.content|safe}}
                    <p><a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('main.new_comment',id=blog_item.id) }}">Add
                            comment</a></p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h3>Comments:</h3>
                    <hr>
                    {% for comment in post_comments%}
                    <p>{{comment.comment}}</p>
                    <p>{{comment.posted_date.strftime('%B %d, %Y')}}</p>
                    <hr>
                    {% endfor%}
                </div>
            </div>
        </div>
    </article>


{% endblock %}